<!--
  ~
  ~ @author    Houda EL RHOZLANE <hoelr@smile.fr>
  ~ @copyright 2019 Smile
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::marketing">
                    <resource id="Magento_Backend::marketing_smile_productlabel" title="Smile Pictos/Labels" translate="title" sortOrder="35">
                        <resource id="Smile_ProductLabel::manage" title="Attributs" translate="title"/>
                        <resource id="Smile_ProductLabel::page" title="Pages" translate="title" sortOrder="10">
                            <resource id="Smile_ProductLabel::save" title="Save Page" translate="title" sortOrder="10" />
                            <resource id="Smile_ProductLabel::page_delete" title="Delete Page" translate="title" sortOrder="20" />
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>