<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::marketing">
                    <resource id="Smile_ProductLabel::manage" title="Smile Pictos/Labels" translate="title" sortOrder="35"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
